.button {
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &.primary {
    background: var(--primary);
    color: white;
    &.outline {
      border: 1px solid var(--primary);
      background-color: white;
      color: var(--primary);
    }
  }
  &:focus {
    outline: none;
  }
  &:hover:not(:disabled) {
    transform: translateY(-0.2rem);
  }
  &:disabled {
    background: #cdcdcd;
    cursor: not-allowed;
  }
}